
{% extends "header-footer-base.html" %}

{% block content %}

<body>
  <div class="index-container">
    <h1> SMOOTH KANBAN </h1><br/><br/>
    <h2> Manage your tasks more efficiently. Try it now! </h2>
    <br/>
    <div class="cust-btn">
      <a href="{{url_for('register')}}">SIGNUP</a>
    </div>
    <div class="cust-btn">
      <a href="{{url_for('login')}}">LOGIN</a>
    </div>

    <footer>
      &copy; 2018 Smooth Kanban || Designed by Pacman
    </footer>
  </div>


</body>

{% endblock %}
