<!DOCTYPE html>
<html lang="en">

<head>
	<title> Kanban Dashboard </title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<body style="background-image:url(mybg.jpg); color: white; text-align:center;">
	<h1> Kanban Dashboard </h1>
	<div class="row">
  <div class="col-sm-4" style="border: 3px solid white;">
	<h3> TO DO </h3>
	<hr/>
	<p>
		<li>
		Work
		</li>
		<br/>
		<li>
		Work
		</li>
		<br/>
		<li>
		Work
		</li>

		<br/>
		<li>
		Work
		</li>
		<br/>
	</p>
  </div>
  <div class="col-sm-4" style="border: 3px solid white;">
	<h3> DOING </h3>
	<hr/>
	<p>
		<li>
		Work
		</li>
		<br/>
		<li>
		Work
		</li>
		<br/>
		<li>
		Work
		</li>
		<br/>
		<li>
		Work
		</li>
		<br/>
	</p>
  </div>
  <div class="col-sm-4" style="border: 3px solid white;">
	<h3> DONE </h3>
	<hr/>
	<p>
		<li>
		Work
		</li>
		<br/>
		<li>
		Work
		</li>
		<br/>
		<li>
		Work
		</li>
		<br/>
		<li>
		Work
		</li>
		<br/>
	</p>
  </div>
</div>

</body>


</html>
