{% extends "header-footer-base.html" %}
{% import "bootstrap/wtf.html" as wtf %}



{{super()}}

{% block content %}

<body>
	<div class="index-container">

	<h1> Kanban Dashboard </h1>
	<h2> Hi {{name}} , Welcome! </h2>
	<p> <a href="{{url_for('logout')}}"> Log out </a></p>
	<div class="row">
  <div class="col-sm-4" style="border: 3px solid white;">
	<h3> TO DO </h3>
	<hr/>
	<p>
		<ul>
            {% for todo in todo %}
            <li style="font-size: 12pt">{{ todo.title  }} <br/>
							{{todo.description}}
							<a href="{{ url_for('markdoing',taskid=todo.taskid)}}">Mark Doing</a>
							<a href="{{ url_for('markdone',taskid=todo.taskid)}}">Mark Done</a>
							<a href="{{ url_for('delete',taskid=todo.taskid)}}">Delete</a>
						</li>
            {% endfor %}
    </ul>
	</p>
  </div>
  <div class="col-sm-4" style="border: 3px solid white;">
	<h3> DOING </h3>
	<hr/>
	<p>
		<ul>
            {% for doing in doing %}
            <li style="font-size: 12pt">{{ doing.title  }} <br/>
							{{doing.description}}
							<a href="{{ url_for('markdone',taskid=doing.taskid)}}">Mark Done</a>
							<a href="{{ url_for('delete',taskid=doing.taskid)}}">Delete</a>
						</li>
            {% endfor %}
    </ul>
	</p>
  </div>
  <div class="col-sm-4" style="border: 3px solid white;">
	<h3> DONE </h3>
	<hr/>
	<p>
		<ul>
            {% for done in done %}
            <li style="font-size: 12pt">{{ done.title  }} <br/>
							{{done.description}}
							<a href="{{ url_for('delete',taskid=done.taskid)}}">Delete</a>
						</li>
            {% endfor %}
    </ul>
	</p>
  </div>
</div>

<div>
	<br/><br/>
	<hr/>
	<h2>Add a new item </h2>
        <form action="{{ url_for('addtask') }}" method="POST">
						<label>Title</label>
            <input type="text" name="title">
						<label>description</label>
						<input type="text" name="description">
						<label>status</label>
						<input type="text" name="status">
            <input type="submit" value="Add Item">
        </form>
</div>

</div>
</body>
{% endblock %}
