{% extends "header-footer-base.html" %}
{% import "bootstrap/wtf.html" as wtf %}



{{super()}}

{% block content %}

<body>
	<div class="index-container-dash">
	<div id="topbar">
		<h1 id="dash-title"> Dashboard </h1>
		<p> Hi {{name}} , Welcome! <span class="sign-align"><button id="logout-btn"> <a href="{{url_for('logout')}}"> Log out </a></button></span></p>
	</div>

	<div class="row">
  <div class="col">
	<h3> TO DO </h3>
	<hr/>
	<p>

		<ul>
            {% for todo in todo %}
            <li class="board-item"><b>{{ todo.title  }}</b> <br/>
							<span class="des">{{todo.description}}</span> <br/>
							<a href="{{ url_for('markdoing',taskid=todo.taskid)}}">Mark Doing</a>
							<a href="{{ url_for('markdone',taskid=todo.taskid)}}">Mark Done</a>
							<a href="{{ url_for('delete',taskid=todo.taskid)}}">Delete</a>
						</li>
            {% endfor %}
    </ul>
	</p>
  </div>
  <div class="col">
	<h3> DOING </h3>
	<hr/>
	<p>
		<ul>
            {% for doing in doing %}
            <li class="board-item"><b>{{ doing.title  }}</b> <br/>
							<span class="des">{{doing.description}} </span><br/>
							<a href="{{ url_for('markdone',taskid=doing.taskid)}}">Mark Done</a>
							<a href="{{ url_for('delete',taskid=doing.taskid)}}">Delete</a>
						</li>
            {% endfor %}
    </ul>
	</p>
  </div>
  <div class="col">
	<h3> DONE </h3>
	<hr/>
	<p>
		<ul>
            {% for done in done %}
            <li class="board-item"><b>{{ done.title  }}</b> <br/>
							<span class="des">{{done.description}}</span> <br/>
							<a href="{{ url_for('delete',taskid=done.taskid)}}">Delete</a>
						</li>
            {% endfor %}
    </ul>
	</p>
  </div>
</div>

<div>
	<br/><br/>
	<hr/>
	<h2 class="form-signin-heading">Add a new item </h2>
        <form action="{{ url_for('addtask') }}" method="POST">
						<label>Title</label>
            <input type="text" name="title">
						<label>Description</label>
						<input type="text" name="description">
						<label>Status</label>
						<select name="status">
						  <option value="todo">todo</option>
						  <option value="doing">doing</option>
						  <option value="done">done</option>
						</select>

            <input type="submit" value="Add Item" class="task-submit">
        </form>
</div>
<footer>
	&copy; 2018 Smooth Kanban || Designed by Pacman
</footer>
</div>
</body>
{% endblock %}
