
{% extends "header-footer-base.html" %}
{% import "bootstrap/wtf.html" as wtf %}



{{super()}}
{% block content %}
<body>
  <div class="index-container">
    <div class="container">

      <form class="form-signin" method="POST" action="/login">
        <h2 class="form-signin-heading">Sign In to Kanban</h2><br/>

        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.username) }}
        {{ wtf.form_field(form.password) }}
        {{ wtf.form_field(form.remember) }}
        <button class="signup-btn" type="submit">Sign in</button>
      </form>

    </div>
      <footer>
        &copy; 2018 Smooth Kanban || Designed by Pacman
      </footer>
    </div>
</body>
{% endblock %}
